$icomoon-font-path: "/public/fonts/icomoon" !default;

$navbar-height: 40px;
$window-titlebars-height: 40px;
$window-titlebars-border-width: 1px;

$scrollbar-foreground-color: rgba(0, 0, 0, 0.1);
$scrollbar-background-color: transparent;
