.btn {
    color: $button-color;
    background-color: $button-background-color;
    border: 1px solid $button-border-color;
    margin: 0;
    padding: 0 14px;
    font-size: 0.85rem;
    height: inherit;
    outline: none;
    cursor: pointer;

    @include border-radius($button-border-radius);
    @include user-select(none);

    &:hover {
        border: 1px solid $button-border-hover-color;
    }
}

.btn-icon.icomoon {
    font-size: 0.8rem;
    margin-right: 5px;
    vertical-align: middle;
}

.btn-dropdown {
    position: relative;

    &.btn-dropdown-arrow {
        &::after {
            color: $button-color;
            content: $ic-arrow-fill-down;
            font-size: 1.1rem;
            vertical-align: middle;

            @include icomoon;
        }
    }
}
