.file-station-wrapper {
    background-color: #fff;
    display: block;
    position: absolute;
    top: $navbar-height;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh - #{$navbar-height});
}
