input {
    font-size: 0.9rem;
    outline: none;
    border: 1px solid $input-border-color;
    margin: 0;
    padding: $input-padding;
    height: inherit;

    @include border-radius($input-border-radius);

    &:hover,
    &:focus {
        border: 1px solid $input-border-hover-color;
    }
}

.input {
    height: 33px;
}

.input-field {
    &-icon {
        color: #aaa;
    }

    &-icon.path {
        width: 24px;
        height: 24px;
    }
}
