.window {
    background-color: $window-background-color;
    display: block;
    position: absolute;
    top: $navigation-height;
    left: 0;
    bottom: 0;
    right: 0;
    height: calc(100vh - #{$navigation-height});

    @include box-shadow(
        -#{$window-box-shadow-offset} -#{$window-box-shadow-offset}
        #{$window-box-shadow-blur} #{$window-box-shadow-color}
    );
}

.window-content-wrapper {
    position: relative;
}

.window-content {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;

    @include scrollbars(
        $window-content-scrollbar-size,
        $window-content-scrollbar-foreground-color,
        $window-content-scrollbar-background-color
    );
}

.window-titlebars {
    display: flex;
    border-bottom: #{$window-titlebars-border-width} solid #{$window-titlebars-border-color};
    align-items: center;
    height: $window-titlebars-height;
}

.window-titlebars-title {
    margin-left: 15px;
}

.window-titlebars-icon {
    margin: 0;
    padding: 0;
    width: $window-titlebars-height * 0.7;
    height: $window-titlebars-height * 0.7;
    margin-right: 5px;
    vertical-align: middle;
}

.window-titlebars-label {
    color: $window-titlebars-color;
    font-size: 0.9rem;
    font-weight: bold;
    vertical-align: middle;
}

.window-titlebars-button {
    margin-left: auto;
    margin-right: 15px;
}

.window-titlebars-button-item {
    color: $window-titlebars-button-color;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 0.75rem;
    margin-left: 8px;
    width: $window-titlebars-height * 0.65;
    height: $window-titlebars-height * 0.65;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        @include border-radius(50% 50%);
    }

    &[data-action=help]:hover {
        color: $window-titlebars-button-action-help-color;
        background-color: $window-titlebars-button-action-help-background-color;
    }

    &[data-action=minimize]:hover {
        color: $window-titlebars-button-action-minimize-color;
        background-color: $window-titlebars-button-action-minimize-background-color;
    }

    &[data-action=restore]:hover {
        color: $window-titlebars-button-action-restore-color;
        background-color: $window-titlebars-button-action-restore-background-color;
    }

    &[data-action=close]:hover {
        color: $window-titlebars-button-action-close-color;
        background-color: $window-titlebars-button-action-close-background-color;
    }
}

.window-sidebar-container {
    display: flex;
    flex: wrap;
    flex-direction: row;
    height: calc(100% - #{$window-titlebars-height} - #{$window-titlebars-border-width});
    position: relative;
}

.window-sidebar-layout {
    border-right: 1px solid $window-sidebar-layout-border-color;
    flex-basis: 13rem;
    flex-grow: 1;
    position: relative;
    align-self: stretch;
    overflow-y: auto;

    @include scrollbars(
        $window-sidebar-layout-scrollbar-size,
        $window-sidebar-layout-scrollbar-foreground-color,
        $window-sidebar-layout-scrollbar-background-color
    );
}

.window-sidebar-content {
    padding: 10px;
    flex-basis: 0;
    flex-grow: 999;
    overflow: hidden;
}
