$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-security-outline: "\e917";
$ic-user-outline: "\e916";
$ic-notification: "\e900";
$ic-arrow-outline-down: "\e90c";
$ic-arrow-outline-left: "\e90d";
$ic-arrow-outline-right: "\e90e";
$ic-arrow-outline-up: "\e90f";
$ic-zero: "\e901";
$ic-arrow-fill-down: "\e908";
$ic-arrow-fill-up: "\e909";
$ic-arrow-fill-left: "\e90a";
$ic-arrow-fill-right: "\e90b";
$ic-arrow-back: "\e912";
$ic-arrow-forward: "\e911";
$ic-person: "\e914";
$ic-search: "\e915";
$ic-navigation-user-outline: "\e902";
$ic-navigation-message-outline: "\e903";
$ic-navigation-search-outline: "\e913";
$ic-refresh: "\e910";
$ic-window-maximize: "\e904";
$ic-window-close: "\e907";
$ic-window-restore: "\e905";
$ic-window-minimize: "\e906";
$ic-folder: "\e92f";
$ic-about: "\ea09";

