$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-arrow-outline-down: "\e90c";
$ic-arrow-outline-left: "\e90d";
$ic-arrow-outline-right: "\e90e";
$ic-arrow-outline-up: "\e90f";
$ic-arrow-fill-down: "\e908";
$ic-arrow-fill-up: "\e909";
$ic-arrow-fill-left: "\e90a";
$ic-arrow-fill-right: "\e90b";
$ic-window-maximize: "\e904";
$ic-window-close: "\e907";
$ic-window-restore: "\e905";
$ic-window-minimize: "\e906";
$ic-search: "\e903";
$ic-notification: "\e900";
$ic-person: "\e901";
$ic-home: "\e902";
$ic-folder: "\e92f";
$ic-about: "\ea09";
$ic-minus: "\ea0b";
$ic-cross: "\ea0f";

