$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$ic-window-maximize: "\e904";
$ic-window-close: "\e907";
$ic-window-restore: "\e905";
$ic-window-minimize: "\e906";
$ic-search: "\e903";
$ic-notification: "\e900";
$ic-person: "\e901";
$ic-home: "\e902";
$ic-folder: "\e92f";
$ic-about: "\ea09";
$ic-minus: "\ea0b";
$ic-cross: "\ea0f";

